doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
  body
    block content
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/js/module.js')
    script(src='/js/controllers/main.js')
    script(src='/js/services/posts.js')
    script(src="http://code.responsivevoice.org/responsivevoice.js")
